<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.masterdex">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/masterdex_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/masterdex_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".modules.detalhespokemon.view.DetalhesPokemonActivity"></activity>
        <activity android:name=".modules.editarperfil.view.EditarPerfilActivity" />
        <activity android:name=".modules.regioesinformacoes.view.RegioesInformacoesActivity" />
        <activity android:name=".modules.login.view.LoginActivity" />
        <activity android:name=".modules.cadastro.view.CadastroActivity" />
        <activity android:name=".modules.esqueciminhasenha.view.EsqueciASenhaActivity" />
        <activity android:name=".modules.main.view.MainActivity" />
        <activity android:name=".modules.splash.view.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>